.header { text-align: left; }

.header2 { text-align: right; }

.textbox {
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 0;
    padding: 1px;
    text-align: center;
}

.textbox2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    margin-bottom: 1px;
    margin-top: 0;
    padding-left: 1px;
    padding-right: 1px;
}

#tablix th.header3 {
    font-size: 12px;
    text-align: left;
}

#tablix th.header4 {
    font-size: 12px;
    text-align: center;
}

#tablix th.header5 {
    font-size: 12px;
    text-align: right;
}

#tablix th.header6 {
    border: 1px solid black;
    text-align: right;
    text-align: center;
    width: 25px;
}

#tablix {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 0;
    width: 100%;
}

#tablix th {
    font-size: 10px;
    padding-left: 1px;
    padding-right: 1px;
}

.fixed_size { width: 100px; }

.custom_style1 { width: 200px; }